<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetDev Shop</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="icon" type="image/png" href="/images/favicon.jpg" />
</head>
<body>
<header>
    <div class="container">
        <p>PetDev Shop</p>
    <form method="GET" action="/search">
        <input type="search" name="q" placeholder="Pesquise por raça ou nome" value="{{ query }}" required/>
        <button type="submit">Buscar</button>
    </form>
    </div>
</header>
<nav>
    <ul>
        <li><a href="./">Todos</a></li>
        <li><a href="/dog">Cachorros</a></li>
        <li><a href="/cat">Gatos</a></li>
        <li><a href="/fish">Peixes</a></li>
    </ul>
</nav>
<section class="banner" style="background-image: url({{banner.url}})"> {{banner.title}} </section>
<h2>{{banner.title}} disponíveis para adoção</h2>

<div class="container list">
